#root {
  margin: 0.2rem;
  padding: 0.2rem;
  max-width: 1280px;
  text-align: center;
}

.logo {
  height: 0.2em;
  padding: 0.2em;
  will-change: filter;
  transition: filter 300ms;
}

#app_nav_search,
#app_nav_button {
  display: block;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: #454163 solid 1px;
}

#app_nav_ul {
  padding: 0.2rem;
  margin: 0.2rem;
  border-radius: 0.5rem;
  border: #272442 solid 1px;
}

#app_nav_label {
  border-radius: 0.2em;
  background-color: #191724;
  border: #232135 solid 1px;
}

#app_aside,
#app_row {
  border-radius: 0.2em;
  border: #454163 solid 1px;
}

#app_div_row,
footer {
  border-radius: 0.2em;
  border: #4d4877 solid 1px;
}

#app_div_row_ {
  border-radius: 0.2em;
  border: #2d294e solid 1px;
}

#app_nav_button:hover, #app_div_row:hover {
  color: #a2cce7;
  background-color: #03284171;
}

#img:hover {
  filter: drop-shadow(0 0 0.5em #f6c177) brightness(1.2);
}

#app_header_h1 {
  margin: 0rem;
  padding: 0rem;
  font-weight: 600;
  font-size: 2.5rem;
}
