@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");

@import "tailwindcss";

:root {
  margin: 1.5rem;
  padding: 1.5rem;
  font-family: "Mooli", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;

  color-scheme: light dark;
  color: #fffaf3;
  background-color: #191724;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root-container {
  margin: 0rem;
  padding: 0rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
